<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.chenzizi.dao.CollectUserDao">

    <select id="f1" resultType="java.lang.String">
        select id from (
        select id from app_collect_user
        ) as a GROUP BY a.id
    </select>
    <select id="f2" resultType="java.lang.String">
         select id from (
           select id from app_collect_user
        ) as a GROUP BY id
    </select>
</mapper>